button, [type=button i], [type=submit i], [type=reset i], [role=button i] {
  appearance: none;
  display: inline-block;
  padding: 1ch;
  cursor: default;

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }

  &:active {
    -webkit-text-fill-color: #fff;
    background-color: currentcolor;
  }
}
