@font-face {
  font-family: Color-Emoji;
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"),
       local("Noto Color Emoji");
  unicode-range: U+203C-3299, U+1F000-1F644;
}

:root {
  --hover-filter: brightness(0.8);
  --default-font: system-ui, Color-Emoji, sans-serif;
}
